<ion-card>
  <ion-card-header>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <ion-img [src]=photo></ion-img>
      </ion-avatar>
      <ion-label>{{username}}</ion-label>
      <ion-button *ngIf="hasPermission"
                  (click)="presentConfirmDelete()"
                  fill="clear" slot="end" >
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card-header>
  <ion-card-content>
    {{comment.text}}
  </ion-card-content>
</ion-card>
