.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3%;
}

.name {
    padding: 3%;
}

.username {
    padding: 2%;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

h3 {
    padding: 2%;
    font-size: 1.1em;
}
