.user {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: row;
}

.profile {
    display: flex;
    flex-direction: row;
}

.games {
    display: flex;
    flex-direction: row;
}

.friends {
    display: flex;
    flex-direction: row;
}

.saved {
    display: flex;
    flex-direction: row;
}

.comunity {
    display: flex;
    flex-direction: row;
}

.look {
    display: flex;
    flex-direction: row;
}

.config {
    display: flex;
    flex-direction: row;
}

.help {
    display: flex;
    flex-direction: row;
}

.power {
    display: flex;
    flex-direction: row;
}




