.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 2%;
    padding-top: 2%;
}

.name{
    margin-left: 3%;
}

.info {
    display: flex;
    flex-direction: row;
}

.profile {
    display: flex;
    flex-direction: row;
}

.games {
    display: flex;
    flex-direction: row;
}

.friends {
    display: flex;
    flex-direction: row;
}

.saved {
    display: flex;
    flex-direction: row;
}

.config {
    display: flex;
    flex-direction: row;
    border-top: 1px solid gray;
}

.help {
    display: flex;
    flex-direction: row;
}

.power {
    display: flex;
    flex-direction: row;
}

h3 {
    font-size: 1.1em;
    color: rgb(54, 54, 54);
    padding: 2%;
}

.card { 
    color: rgb(54, 54, 54);
}

h2 {
    font-size: 1.5em;
}