<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card (click)="goToTags()">
          <img src="../assets/icon-lol.svg" />
          #League of Legends
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card (click)="goToTags()">
          <img src="../assets/icon-fifa.svg" />
          #FIFA
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card (click)="goToTags()">
          <img src="../assets/icon-dontstarve.svg" />
          #Don't Starve Together
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card (click)="goToTags()">
          <img src="../assets/icon-valorant.svg" />
          #Valorant
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card (click)="goToTags()">
          <img src="../assets/icon-overwatch.svg" />
          #Overwatch
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card (click)="goToTags()">
          <img src="../assets/icon-csgo.svg" />
          #CS Go
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card (click)="goToTags()">
          <img src="../assets/icon-fallguys.svg" />
          #Fall Guys
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card (click)="goToTags()">
          <img src="../assets/icon-dota.svg" />
          #Dota 2
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card (click)="goToTags()">
          <img src="../assets/icon-dead.svg" />
          #Dead by Daylight
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card (click)="goToTags()">
          <img src="../assets/icon-wow.svg" />
          #World of Warcraft
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
