<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <img src="../assets/icon-lol.svg" />
          #League of Legends
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img src="../assets/icon-fifa.svg" />
          #FIFA
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <img src="../assets/icon-dontstarve.svg" />
          #Don't Starve Together
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img src="../assets/icon-valorant.svg" />
          #Valorant
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
