<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Jogos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Jogos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <img src="../assets/icon-lol.jpg" />
          League of Legends</ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img src="../assets/fifa-logo.png" />
          FIFA
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <img src="../assets/dontstarve.png" />
          Don't Starve Together
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img src="../assets/valorant-logo.png" />
          Valorant
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
 

</ion-content>
