<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>friends</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment mode="md" value="following">
      <ion-segment-button value="following" (click)="userFollowing()">
        <ion-label>Seguindo</ion-label>
      </ion-segment-button>
      <ion-segment-button value="followers" (click)="userFollowers()">
        <ion-label>Seguidores</ion-label>
      </ion-segment-button>
  </ion-segment>
 
  <div>
    <ion-card *ngFor="let user of users">
      <img class="photo" [src]="user.photo"/>
      <ion-card-title class="name">{{user.username}}</ion-card-title>
    
    </ion-card>
  </div>

</ion-content>
