<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <div class="center">
    <img class="logo" src="../assets/logomax.svg" />
    <form [formGroup]="loginForm" (ngSubmit)="submitLogin(loginForm)">
      <ion-item>
        <ion-label position="floating">E-mail</ion-label>
        <ion-input type="email" inputmode="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-row class="ion-justify-content-center ion-margin-top">
        <ion-col size="auto">
          <ion-button type="submit" color="secondary" shape="round" [disabled]="loginForm.invalid">
              Entrar
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row class="ion-text-center">
          <ion-col>
            <a routerLink="/register">Não possuo uma conta</a>
          </ion-col>
        </ion-row>
    </form>
  </div>
</ion-content>
