<ion-card>
  <ion-card-header>
      <ion-item lines="full">
        <ion-avatar slot="start" [routerLink]="['/profile', this.post.user_id]">
          <ion-img [src]=photo></ion-img>
        </ion-avatar>
        <ion-col>
        <ion-label>{{username}}</ion-label>
        <ion-card-title>{{post.tags}}</ion-card-title>
        </ion-col>
      </ion-item>
  </ion-card-header>
  <ion-card-content>
    {{post.text}}
    <ion-toolbar>
      <ion-buttons class="ion-justify-content-between">
        <ion-button>
          <ion-icon name="bookmark-outline"></ion-icon>
        </ion-button>
        <ion-button [routerLink]="['/comments', post.id]">
          <ion-icon name="chatbox-ellipses-outline"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon name="heart-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-card-content>
</ion-card>
