<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showUserOps($event)">
        <ion-icon name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refreshHome($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <div *ngFor="let post of allPosts">
      <app-card-posts [post]="post"></app-card-posts>
    </div>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="newPost()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- <ion-infinite-scroll (ionInfinite)="loadPosts($event)">
       <ion-infinite-scroll-content
       loadingSpinner="bubbles"
       loadingText="Carregando mais posts...">
       </ion-infinite-scroll-content>
       </ion-infinite-scroll> -->
</ion-content>
