<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <div *ngFor="let post of posts">
      <app-card-posts [post]="post"></app-card-posts>
    </div>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="loadPosts($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Carregando mais posts...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
